extends layout

block content
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Welcome to #{title}
				a(href="/") Go back

	.container
		h1.title Add Feeds
		.box
			form.form(action="/add" method="post" onsubmit="console.log(event)")
				input.input(type="text" name="url" placeholder='RSS URL')
				button.button.is-primary(type='submit') Submit
	hr
	.container
		h1.title Remove Feeds
		each val,ind in feeds
			.box
				span= val.doc.url
				button.button(style="float: right" onclick="removeFeed(event)" id= val.doc._id) Remove Feed
	script.
		function removeFeed(event) {
			$.ajax({
				type: "POST",
				url: '/remove',
				data: {toremove: event.target.id}
			}).then(data => {
				console.log(data);
				window.location.reload();
			});
		}
